<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="p_tut.elethink_interface" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start_menu"/>
        <activity android:name=".Play_menu" />
        <activity android:name=".List_menu" />
        <activity android:name=".Whereabout_menu" />
        <activity android:name=".Settings_menu" />
        <activity android:name=".Manage_list" />
        <activity android:name=".Create_list" />
        <activity android:name=".Fill_list"/>
    </application>

</manifest>
